<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener Result</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>URL Shortened Successfully!</h1>
        <p><strong>Short URL : </strong><a href="<%= shortUrl %>" target="_blank">
                <%= shortUrl %>
            </a></p>
        <img src="<%= qrCode %>" alt="QR Code">
        <a href="/">Shorten Another URL</a>
    </div>
</body>

</html>